<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.begateway.example">

    <uses-permission android:name="android.permission.INTERNET" />
    <!--    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
    <queries>
        <package android:name="com.samsung.android.spay" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Example">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScanBankCardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.begateway.mobilepayments.action.SCAN_BANK_CARD" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
        <meta-data
            android:name="debug_mode"
            android:value="Y" />
        <meta-data
            android:name="spay_debug_api_key"
            android:value="af21e4810eaa4743bbe81720d309e2be" />
        <meta-data
            android:name="spay_sdk_api_level"
            android:value="2.17" />
    </application>

</manifest>